
{erl_opts,[
           {i, "include"}
           %% no_debug_info,
          , debug_info
           %% , warnings_as_errors, 	     
          , warn_obsolete_guard
           %% , warn_unused_import % supress  proper inc warnings 
          , clint
          , warn_shadow_vars
          , warn_export_vars           
          ]}.


{sub_dirs, ["src",
            "test"]}.

{deps, [
	{eunit_fsm,  ".*", {git, "https://github.com/SmallCell/eunit_fsm.git", "master"}}      
       ]}.

{ct_log_dir, "logs"}.
